/* CSS variables */
@import url(variables.css);

body,
html {
  font-family: var(--open-sans);
  box-sizing: border-box;
  margin: 0%;
  width: 100%;
  height: 100%;
}

.main-area {
  background-color: var(--primary-color-3);
}

/* Text */

.text-primary {
  color: var(--primary-color-main) !important;
}

.text-secondary {
  color: var(--secondary-color-main) !important;
}

/* End Text */

/* Navbar */

.navbar {
  padding: 8px 16px 8px 24px;
  background-color: var(--primary-color-6);
}

.header-main .nav-menu .navbar .navbar-nav {
  width: 100%;
}

.header-main .nav-menu .navbar .navbar-nav .nav-link {
  font-family: var(--open-sans);
  color: var(--neutral-color-2);
}
.header-main .nav-menu .navbar .navbar-nav .nav-link:hover {
  color: var(--primary-color-2);
}

.header-main .nav-menu {
  box-shadow: var(--shadow-color);
  z-index: 1;
  position: relative;
}

/* End Navbar */

/* Banner */

.main-title {
  font-weight: 300;
  color: var(--neutral-color-2);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.title-name {
  font-weight: 600;
  color: var(--neutral-color-2);
}

.sub-title {
  font-weight: 300;
  color: var(--neutral-color-2);
}

.banner {
  background-image: url(../images/banner.png);
  height: var(--banner-height);
  background-position: center bottom;
  background-size: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.fill-banner {
  height: var(--banner-height);
}

.outline-btn {
  border-color: var(--primary-color-main);
  border-width: 1px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 200px;
  margin-right: 32px;
  border-color: var(--primary-color-7);
  border-width: 2px;
  border-style: solid;
}

.resume-dl-flex {
  justify-content: center;
}

@media (min-width: 576px) {
  .resume-dl-flex {
    justify-content: start;
  }
}
/* End Banner */

/* Showcase Area */

.container-card {
  height: 600px;
  margin-top: 140px;
  background-color: var(--primary-color-7);
  box-shadow: var(--shadow-heavy);
  border-radius: 4px;
  z-index: 1;
}

.card-ending-img {
  height: 100px;
  background-image: url(../images/lower-card.png);
  background-position: center bottom;
  background-size: inherit;
  background-repeat: no-repeat;
  background-size: 100% 500%;
}

/* End Showcase Area */
