/* CSS variables */
@import url(variables.css);

body,
html {
  font-family: var(--roboto);
  box-sizing: border-box;
  margin: 0%;
  width: 100%;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

/* preload class to ensure that animations and transitions do not play before page is loaded */
/* preload class is removed from body after page is loaded */
.preload *,
.preload *:before,
.preload *:after {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  animation-play-state: paused !important;
}

/* Navigation */
#top-button {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: -200px;
  right: 32px;
  border-radius: 50%;
  color: whitesmoke;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.58);
  background-color: var(--primary-color-6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

#up-arrow {
  width: 60%;
  height: 100%;
}

#top-button:hover {
  background-color: var(--primary-color-5);
  transform: scale(1.04);
  cursor: pointer;
}

/* End Navigation */

/* Scrollbar */
html {
  scrollbar-color: var(--neutral-color-5) var(--neutral-color-2);
}

body::-webkit-scrollbar {
  background-color: var(--neutral-color-2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color-5);
}

/* End Scrollbar */

.main-area {
  background-color: var(--neutral-color-1);
}

/* Text */

.text-primary {
  color: var(--primary-color-7) !important;
}

.text-secondary {
  color: var(--dark-color-2) !important;
}

.bottom-border-white {
  border-bottom: 1px solid white;
}

/* End Text */

/* Navbar */

.nav-menu {
  background-color: var(--dark-color-2);
  border-bottom: 3px solid var(--primary-color-main);
}

.nav-menu .navbar .navbar-nav {
  width: 100%;
}

.nav-menu .navbar .navbar-nav .nav-link {
  font-family: var(--open-sans);
  color: var(--neutral-color-2);
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  transition: 0.2s;
}

.nav-menu .navbar .navbar-nav .nav-link:hover {
  color: var(--primary-color-3);
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color-3);
}

.nav-menu .navbar .navbar-nav .active {
  color: var(--primary-color-3);
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color-3);
}

.nav-menu {
  box-shadow: var(--shadow-color);
  z-index: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(250, 250, 250, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#dl-resume {
  padding: 4px 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 2px;
  border: 2px solid var(--neutral-color-2);
}

#dl-resume:hover {
  border-color: var(--primary-color-3);
}

.logo-name {
  color: white;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

.logo-name:hover {
  text-decoration: none;
  color: var(--primary-color-3);
  cursor: pointer;
}

/* End Navbar */

/* Banner */

.title-box {
  z-index: 1;
  margin-top: 40px;
  border-left: 24px solid var(--dark-color-2);
  color: white;
  background-color: var(--dark-color-1);
  padding: 36px 36px 42px;
}

.main-title {
  font-weight: 300;
  display: inline;
}

.sub-title {
  font-weight: 300;
  margin-top: 8px;
  animation: show-element 0.5s ease 0.1s 1;
  animation-fill-mode: backwards;
}

.sub-title-add {
  font-weight: 300;
  animation: show-element 0.5s ease 0.5s 1;
  animation-fill-mode: backwards;
}

.section-sub-title {
  color: var(--neutral-color-2);
  font-weight: 400;
}

.outline-btn {
  border-color: var(--primary-color-main);
  border-width: 1px;
}

#learn-more-button {
  animation: show-element 0.75s ease-out 0s 1;
  animation-fill-mode: backwards;
  margin-top: 48px;
  align-self: center;
  transition: 0.3s;
}

#learn-more-button:hover {
  font-size: 1.1rem;
  color: var(--primary-color-3);
}

#learn-more-arrow {
  animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
}

.profile-pattern-flex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pattern-inner {
  height: 420px;
  width: 420px;
  position: absolute;
}

.profile-pattern-outer {
  height: 365px;
  width: 365px;
  position: absolute;
}

.profile-rotate {
  animation: rotation 2s 1 ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.wave-emoji {
  animation: show-wave 0.7s ease 1s 2;
  animation-fill-mode: backwards;
  display: inline-block;
}

.title-box-highlighter {
  background: linear-gradient(
    rgba(0, 0, 0, 0) 35%,
    #5d4e9d 35%,
    #4e4285 97%,
    rgba(0, 0, 0, 0) 97%
  );
}

@keyframes show-wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes flyInBottom {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* End Banner */

/* Skill Showcase Area */

.container-card {
  height: fit-content;
  margin-top: 160px;
  background-color: var(--dark-color-1);
  z-index: 1;
  padding-bottom: 32px;
  border-left: 24px solid var(--dark-color-2);
}

.card-ending {
  height: 100px;
  background-size: inherit;
  background-repeat: no-repeat;
  background-size: 100% 500%;
}

.img1 {
  background-image: url(../images/lower-card1.png);
  background-position: 50% 150%;
}

.img2 {
  background-image: url(../images/lower-card2.png);
  background-position: 50% 150%;
}

.img3 {
  background-image: url(../images/lower-card3.png);
  background-position: 50% 150%;
}

.img4 {
  background-image: url(../images/lower-card4.png);
  background-position: 50% 150%;
}

.grey-label {
  color: #333d44;
  text-align: center;
}

.grey-label-dark {
  color: #292f33;
}

.primary-label {
  color: var(--primary-color-6);
}

.skill-hr {
  height: 1px;
  clear: both;
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
  border-color: var(--neutral-color-main);
}
/* End Skill Showcase Area */

/* Project/Experience Area */
.project-container {
  height: fit-content;
  margin-top: 32px;
  background-color: var(--neutral-color-1);
  box-shadow: var(--shadow-color);
  border-radius: 4px;
  padding: 16px;
}

.detail-list-item {
  margin-bottom: 8px;
}

.experience-card {
  width: 300px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 36px;
  background-color: var(--neutral-color-1);
  transition: 0.2s;
  font-size: 18px;
}

.experience-card:hover {
  transform: scale(1.03);
}

.experience-icon {
  width: 230px;
  height: 230px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.4s ease;
}

/* Contact me area */
.contact-section {
  height: 100vh;
  margin-top: 200px;
  background-image: url(../images/Subtle-Prism.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-icons {
  font-size: 35px;
  color: white;
}

.contact-icons:hover {
  color: var(--primary-color-2);
}

.built-by-me {
  color: var(--primary-color-1);
  position: absolute;
  bottom: 18px;
}

/* Animations */

@keyframes slide-down {
  from {
    height: 0px;
  }

  to {
    height: var(--banner-height);
  }
}

@keyframes show-element {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contact-title {
  margin-left: 0;
}

/* Cursor */

#cursor-circle {
  position: fixed;
  left: 150px;
  top: 150px;
  z-index: 999;
  pointer-events: none;
}

/* Override bootstrap container width */
@media (min-width: 992px) {
  .container {
    max-width: 880px;
  }
}

@media (min-width: 768px) {
  .title-box {
    margin-top: 142px;
  }
}
