/* CSS variables */
@import url(variables.css);

body,
html {
  font-family: var(--open-sans);
  box-sizing: border-box;
  margin: 0%;
  width: 100%;
  height: 100%;
}

/* preload class to ensure that animations and transitions do not play before page is loaded */
/* preload class is removed from body after page is loaded */
.preload *,
.preload *:before,
.preload *:after {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  animation-play-state: paused !important;
}

/* Navigation */
#top-button {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: -200px;
  right: 32px;
  border-radius: 5px;
  border: 2px solid var(--primary-color-5);
  color: var(--primary-color-5);
  box-shadow: var(--shadow-color);
  background-color: var(--neutral-color-1);
  z-index: 2;
}

#up-arrow {
  width: 100%;
  height: 100%;
}

#top-button:hover {
  box-shadow: var(--shadow-heavy);
  border: 2px solid var(--primary-color-main);
  color: var(--primary-color-main);
  background-color: var(--neutral-color-3);
  cursor: pointer;
}

/* End Navigation */

/* Scrollbar */
html {
  scrollbar-color: var(--neutral-color-5) var(--neutral-color-2);
}

body::-webkit-scrollbar {
  background-color: var(--neutral-color-2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color-5);
}

/* End Scrollbar */

.main-area {
  background-color: var(--neutral-color-2);
}

/* Text */

.text-primary {
  color: var(--primary-color-7) !important;
}

.text-secondary {
  color: var(--dark-color-2) !important;
}

/* End Text */

/* Navbar */

.navbar {
  padding: 8px 16px 8px 24px;
  background-color: var(--dark-color-2);
  border-bottom: 3px solid var(--primary-color-main);
}

.nav-menu .navbar .navbar-nav {
  width: 100%;
}

.nav-menu .navbar .navbar-nav .nav-link {
  font-family: var(--open-sans);
  color: var(--neutral-color-2);
}

.nav-menu .navbar .navbar-nav .nav-link:hover {
  color: var(--primary-color-3);
  cursor: pointer;
}

.nav-menu .navbar .navbar-nav .active {
  color: var(--primary-color-3);
  cursor: pointer;
}

.nav-menu {
  box-shadow: var(--shadow-color);
  z-index: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(250, 250, 250, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#dl-resume {
  padding: 4px 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 2px;
  border: 2px solid var(--neutral-color-2);
}

#dl-resume:hover {
  border-color: var(--primary-color-3);
}

.logo-icon {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: .1s ease;
}

.logo-icon:hover {
  filter: brightness(130%);
}

/* End Navbar */

/* Banner */

.title {
  z-index: 1;
}

.main-title {
  font-weight: 300;
  color: var(--neutral-color-2);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  animation: show-element 0.5s ease 0.8s 1;
  animation-fill-mode: backwards;
}

.title-name {
  font-weight: 600;
  color: var(--neutral-color-2);
  animation: show-element 0.5s ease 0.9s 1;
  animation-fill-mode: backwards;
}

.sub-title {
  font-weight: 300;
  color: var(--neutral-color-2);
  animation: show-element 0.5s ease 1.1s 1;
  animation-fill-mode: backwards;
}

.banner-wrapper {
  height: var(--banner-height);
}

.banner {
  background-image: url(../images/Subtle-Prism.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  animation: slide-down 1s ease 0.3s 1;
  animation-fill-mode: backwards;
}

.fill-banner {
  height: var(--banner-height);
}

.content-banner {
  height: calc(100vh - 54px);
}

.outline-btn {
  border-color: var(--primary-color-main);
  border-width: 1px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 200px;
  margin-right: 32px;
  border-color: var(--primary-color-6);
  border-width: 3px;
  border-style: solid;
  box-shadow: var(--shadow-color);
  animation: show-element 0.5s ease 0.7s 1;
  animation-fill-mode: backwards;
}

.learn-more-flex {
  justify-content: center;
}

@media (min-width: 576px) {
  .learn-more-flex {
    justify-content: start;
  }
}

#learn-more-button {
  box-shadow: var(--shadow-color);
  border-color: var(--primary-color-5);
  border-width: 1px;
  background-color: var(--neutral-color-2);
  animation: show-element 0.5s ease 1.4s 1;
  animation-fill-mode: backwards;
  box-shadow: 0px 0px 3px var(--neutral-color-7);
}

#learn-more-button:hover {
  border-color: var(--neutral-color-3);
  background-color: var(--neutral-color-3);
  box-shadow: var(--shadow-heavy);
}

#learn-more-arrow {
  margin-left: 10px;
}

.profile-pattern-flex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pattern-inner {
  height: 420px;
  width: 420px;
  position: absolute;
}

.profile-pattern-outer {
  height: 365px;
  width: 365px;
  position: absolute;
}

.profile-rotate {
  animation: rotation 2s 1 ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* End Banner */

/* Skill Showcase Area */

.container-card {
  height: fit-content;
  margin-top: 150px;
  background-color: var(--dark-color-1);
  box-shadow: var(--shadow-heavy);
  border-radius: 4px;
  z-index: 1;
  padding-bottom: 32px;
}

.card-ending {
  height: 100px;
  background-size: inherit;
  background-repeat: no-repeat;
  background-size: 100% 500%;
}

.img1 {
  background-image: url(../images/lower-card1.png);
  background-position: 50% 150%;
}

.img2 {
  background-image: url(../images/lower-card2.png);
  background-position: 50% 150%;
}

.img3 {
  background-image: url(../images/lower-card3.png);
  background-position: 50% 150%;
}

.img4 {
  background-image: url(../images/lower-card4.png);
  background-position: 50% 150%;
}

.skill-card {
  width: 128px; 
  padding-bottom: 12px; 
  padding-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  background-color: var(--neutral-color-1);
  transition: .2s ease;
}

.skill-card:hover {
  box-shadow: var(--shadow-heavy);
  background-color:  var(--neutral-color-3);
}

.skill-icon {
  width: 100px;
  height: 100px;
}

.grey-label {
  color: #333d44;
}

.grey-label-dark {
  color: #292f33;
}

.primary-label {
  color: var(--primary-color-6)
}

.skill-hr {
  height: 1px;
  clear:both;
  display:block;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
  border-color: var(--neutral-color-main);
}
/* End Skill Showcase Area */

/* Project/Experience Area */
.project-container {
  height: fit-content;
  margin-top: 32px;
  background-color: var(--neutral-color-1);
  box-shadow: var(--shadow-color);
  border-radius: 4px;
  padding: 16px;
}

.detail-list-item {
  margin-bottom: 8px;
}

.modal-header {
  border-bottom: 1px solid var(--neutral-color-main);
}

.experience-card {
  width: 280px; 
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  background-color: var(--neutral-color-1);
  transition: .4s ease;
}

.experience-card:hover .experience-icon {
  opacity: 0.05;
}

.experience-card:hover .modal-button {
  opacity: 1;
}

.experience-icon {
  width: 260px;
  height: 260px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: .4s ease;
}

.modal-button {
  position: absolute;
  top: 40%;
  border: 2px solid var(--primary-color-5);
  color: #333d44;
  opacity: 0;
  transition: .4s ease;
  border-radius: 2px;
  padding: 8px 12px ;
}

.modal-button:hover {
  background-color: var(--primary-color-5);
  color: #ffffff;
}

.carousel-inner {
  height: auto;
}

.carousel-control-prev-icon {
  background-image: url("/svgs/back.svg");
}

.carousel-control-next-icon {
	background-image: url("/svgs/next.svg");
}

.carousel-indicators li {
  background-color: var(--neutral-color-7);
}

/* Project Area */

.project-card {
  width: 160px;
}

.project-icon {
  width: 150px;
  height: 150px;
}

.self-link {
  cursor: pointer;
  width: auto;
}

/* Contact me area */
.contact-section {
  height: 600px;
  margin-top: 200px;
  background-color: var(--primary-color-7);
}



/* Animations */

@keyframes slide-down {
  from {
    height: 0px;
  }

  to {
    height: var(--banner-height);
  }
}

@keyframes show-element {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}